* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::-moz-selection {
  background-color: var(--select);
}
*::selection {
  background-color: var(--select);
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #000;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 16px;
  position: relative;
}
#page-nav {
  display: block;
  position: fixed;
  z-index: 100;
  right: 86px;
  top: 39%;
}
#page-nav li {
  width: 14px;
  height: 14px;
  background-color: #ea736d;
  border-radius: 50%;
  margin-bottom: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#page-nav li a {
  display: block;
  height: 100%;
}
#page-nav li.active {
  background-color: #89b4cb;
}
#backTop a {
  color: #ea736d;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#backTop a:hover {
  color: var(--mailhov);
}
:root {
  --text: #393f47;
  --textcurs: #fbdc4d;
  --dotts: #ea736d;
  --brdnav: #fbdc4d;
  --iconin: #0077b5;
  --icongh: #6cc644;
  --iconvk: #6782a3;
  --btnbg: #fbdc4d;
  --btnhov: #ffd200;
  --btnactv: #e1bc10;
  --btncont: #464646;
  --btnconthov: #797979;
  --btncontactv: #181818;
  --mailhov: #039be5;
  --mailactv: #ea655f;
  --bgportf: #f4f8f9;
  --togglhov: #ed574f;
  --toggl: #adbdc4;
  --bgcard: #fdd446;
  --cardhov: #f0d961;
  --cardbtnhov: #ea736d;
  --cardbtnactv: #d4423b;
  --email: #039be5;
  --select: #fbdc4d;
  --hover: #ea736d;
}
#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}
#overlay.active {
  display: block;
}
a,
a:hover {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
button,
input {
  outline: none;
}
button {
  outline: none;
  cursor: pointer;
}
textarea {
  resize: none;
  display: block;
}
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  position: relative;
  z-index: 2;
}
.button_main button {
  font-size: 22px;
  font-family: "M PLUS 1p", sans-serif;
  color: #000000;
  font-weight: 700;
  line-height: 1.2;
  cursor: pointer;
}
.none {
  display: none;
}
.title2 {
  font-size: 64px;
  font-weight: 800;
}
.header {
  max-width: 1600px;
  padding-top: 65px;
  padding-bottom: 230px;
  margin: auto;
  background-image: url(../img/fon/line.png);
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  overflow: hidden;
}
.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}
.header-foto {
  max-width: 50%;
  margin-bottom: 0;
}
.header-foto:before {
  content: "";
  background-image: -ms-linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
  opacity: 0.5;
  position: absolute;
  top: 12%;
  left: 47%;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.my-foto {
  -webkit-transform: scale(1);
          transform: scale(1);
  max-width: 460px;
  height: 410px;
  margin-right: 0;
}
.header-desk {
  max-width: 50%;
  padding-top: 30px;
  padding-bottom: 65px;
}
.header-name {
  margin-bottom: 18px;
  font-size: 90px;
  font-weight: 900;
  line-height: 1.1;
}
.my-name {
  position: relative;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.my-name:after {
  content: "";
  position: absolute;
  width: 537px;
  bottom: 22px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: #fbdc4d;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.my-name:hover:after {
  background-color: var(--hover);
}
.header-text {
  margin-bottom: 35px;
}
.header-text p {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: var(--text);
  width: 500px;
}
.header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button-1 {
  padding: 19px 41px;
  margin-right: 22px;
  background-color: var(--btnbg);
  border-radius: 30px;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 22px;
  font-family: "M PLUS 1p", sans-serif;
  color: #000000;
  font-weight: 700;
  line-height: 1.2;
  cursor: pointer;
}
.button-1:hover {
  background-color: var(--btnhov);
}
.button-1:active {
  background-color: var(--btnactv);
}
.button-2 {
  padding: 15px 40px;
  background-color: #fff;
  border: solid 4px;
  border-color: var(--btncont);
  border-radius: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 22px;
  font-family: "M PLUS 1p", sans-serif;
  color: #000000;
  font-weight: 700;
  line-height: 1.2;
  cursor: pointer;
}
.button-2:hover {
  border-color: var(--btnconthov);
}
.button-2:active {
  border-color: var(--btncontactv);
}
.header-img {
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-bottom: 0;
  max-width: 1600px;
  margin-top: -96px;
}
.header-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: -55px;
}
.skills {
  margin-bottom: 0;
  max-width: 50%;
}
.title3 {
  font-size: 40px;
  font-weight: 800;
  color: #000;
  margin-bottom: 26px;
}
.skills-list {
  width: 599px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.6px;
  margin-bottom: 42px;
  color: var(--text);
}
.skills-list_item {
  margin-bottom: 3px;
}
.skills-list_item::first-letter {
  text-transform: uppercase;
}
.skills-list_item:before {
  content: "__";
  position: relative;
  left: -1px;
  bottom: 10px;
}
.remark {
  margin-right: 0;
}
.comminication {
  max-width: 360px;
}
.more-skills {
  margin-bottom: 29px;
}
.skills-icons_item {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 30px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.skills-icons_item:last-child {
  margin-right: 0;
}
.skills-icons_item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.skills-icons a {
  color: #fff;
  font-size: 22px;
}
.fab {
  font-size: 31px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.skills-email {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.skills-email:after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  border-bottom: #039be5 solid 2px;
  width: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.skills-email:hover:after {
  width: 100%;
  color: var(--mailhov);
}
.skills-email:hover {
  color: var(--mailhov);
}
.skills-email:active {
  color: var(--mailactv);
}
.skills-email:active::after {
  width: 100%;
  color: var(--mailactv);
}
.header-nav {
  max-width: 1400px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 138px;
}
.logo {
  position: relative;
  z-index: 2;
  font-size: 42px;
  font-weight: 900;
  color: #000000;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.logo:after {
  content: "";
  position: absolute;
  bottom: 9px;
  left: -5px;
  right: -5px;
  height: 10px;
  background-color: #fbdc4d;
  z-index: -1;
  width: 65px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.logo:hover:after {
  background-color: var(--hover);
}
.logo:hover {
  opacity: 0.6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header-menu {
  position: relative;
  max-width: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  padding-left: 0;
  width: auto;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header-link {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  z-index: 2;
  margin-bottom: 0;
}
.header-link:last-child {
  margin-right: 0;
}
.header-link:after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: -5px;
  right: -5px;
  width: 0;
  height: 5px;
  background-color: #fbdc4d;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header-link:hover:after {
  width: 110%;
  z-index: -1;
}
.header-link:focus {
  border: dotted #ea736d 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header-link + .header-link {
  margin-left: 78px;
}
.sidebar-logo {
  margin-bottom: 35px;
  display: none;
}
.decktop {
  display: block;
}
.mobil {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.mobil:hover {
  border-bottom: 1px solid #000;
  left: 0;
  right: 0;
  bottom: 3px;
}
.sidebar {
  margin-bottom: 35px;
}
.sidebar a {
  color: #fff;
  font-size: 22px;
}
.fab {
  font-size: 31px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.icons-vb {
  background-color: #6c19b9;
}
.icons-wp {
  background-color: #07791a;
}
.sidebar-email {
  display: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.sidebar-email:hover {
  color: var(--mailhov);
}
.sidebar-email:active {
  color: var(--mailactv);
}
.header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.icons-item {
  display: inline-block;
  width: 30px;
  margin-right: 20px;
  color: #000;
}
.icons-item:last-child {
  margin-right: 0;
}
.icons-item svg {
  fill: #000000;
}
.icons-item__wp:hover {
  color: #0fa728;
}
.icons-item__gh:hover {
  color: var(--icongh);
}
.icons-item__gh:active {
  color: var(--icongh);
}
.icons-item__vb {
  width: 30px;
}
.icons-item__vb:hover {
  color: #6c19b9;
}
.portfolio {
  padding-top: 110px;
  padding-bottom: 0;
  margin: auto;
  background-image: url(../img/fon/bgportf.png);
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  overflow: hidden;
}
.bottom-line {
  position: relative;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.bottom-line:after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: #fbdc4d;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.bottom-line:hover:after {
  background-color: var(--hover);
}
.title-portf {
  margin-bottom: 62px;
  margin-left: 0;
}
.portfolio-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 46px;
}
.portfolio-block-toggle_item {
  margin-right: 68px;
  font-size: 28px;
  font-weight: 700;
  color: var(--toggl);
  border: none;
  background-color: var(--bgportf);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.portfolio-block-toggle_item:last-child {
  margin-right: 0;
}
.portfolio-block-toggle_item:hover {
  color: var(--togglhov);
}
.portfolio-block-toggle_item:active {
  color: var(--togglhov);
}
.control-active {
  color: #000000;
}
.watch-works {
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: #039be5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: underline;
}
.watch-works:hover {
  color: var(--cardbtnactv);
  border-color: var(--cardbtnactv);
}
@media (min-width: 576px) {
  .watch-works {
    margin-left: 125px;
  }
}
@media (min-width: 1200px) {
  .watch-works {
    display: none;
  }
}
#portfolio-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio-cards_content {
  margin-bottom: 155px;
}
.portfolio-card {
  margin: auto;
  max-width: 360px;
  height: 320px;
  margin-bottom: 0;
}
.portfolio-card_poster {
  display: block;
  margin-bottom: 30px;
  position: relative;
  background-color: var(--bgcard);
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.portfolio-card_poster:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(239, 215, 95, 0.85);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(105%);
          transform: translateY(105%);
}
.portfolio-card_poster:hover:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.more-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 51px;
  font-size: 22px;
  font-weight: 700;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  color: var(--cardbtnhov);
  background-color: #fff;
  border: none;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.more-btn:hover {
  background-color: var(--cardbtnhov);
  color: #fff;
}
.more-btn:active {
  background-color: var(--cardbtnactv);
  color: #fff;
}
.portfolio-card_poster:hover .more-btn {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.portfolio-card_poster img {
  display: block;
  height: 360px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: var(--btnbg);
}
.portfolio-card--big {
  max-width: 555px;
  margin-bottom: 50px;
  height: 480px;
}
.portfolio-card--big:last-child {
  margin-bottom: 0;
}
.portfolio-card_descrip a {
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.portfolio-card_descrip a:after {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: 1px;
  left: 0;
  border-bottom: solid 2px #ed574f;
  width: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.portfolio-card_descrip a:hover:after {
  width: 100%;
  color: #ed574f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.portfolio-card_descrip a:hover {
  color: #ed574f;
}
.portfolio-card--big .portfolio-card_descrip a {
  font-size: 32px;
}
.portfolio-card--big .portfolio-card_descrip p {
  font-size: 26px;
}
.portfolio-card_descrip p {
  margin-top: 9px;
  font-size: 20px;
  font-weight: 100;
  color: #585858;
}
.display {
  display: block;
}
.how-work {
  padding-top: 140px;
  padding-bottom: 140px;
  margin: auto;
  max-width: 1600px;
  background-image: url(../img/fon/bg-how2.png);
  background-size: auto;
  background-position: center;
  background-repeat: repeat-y;
}
.howwork-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 1005px;
}
.item-title {
  position: relative;
  z-index: 2;
  margin-bottom: 151px;
  font-size: 64px;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
}
.item-title:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -5px;
  right: -5px;
  background-color: #fbdc4d;
  height: 12px;
  bottom: 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.item-title:hover:after {
  background-color: var(--hover);
}
.work-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.work-content_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  max-width: 530px;
  padding-bottom: 60px;
  -webkit-transform: translateX(39%);
          transform: translateX(39%);
}
.work-content_item:after {
  content: "";
  position: absolute;
  left: 31px;
  bottom: 0;
  top: 94px;
  width: 4px;
  border-radius: 2px;
  background-color: #e1eef4;
}
.work-content_item:last-child:after {
  display: none;
}
.work-content_item:nth-child(odd) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
  -webkit-transform: translateX(-46%);
          transform: translateX(-46%);
}
.work-content_item:first-of-type:before {
  content: "";
  position: absolute;
  left: 477px;
  top: -77px;
  width: 4px;
  height: 57px;
  background-color: #e1eef4;
}
.work-content_item:nth-child(odd):after {
  content: "";
  position: absolute;
  left: 477px;
  bottom: 0;
  top: 94px;
  width: 4px;
  border-radius: 2px;
  background-color: #e1eef4;
}
.work-item-icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 74px;
  height: 74px;
  border-radius: 28px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.work-item-icon img {
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.item-text {
  padding-right: 25px;
  padding-left: 25px;
  cursor: pointer;
}
.item-text:hover .hover::after {
  background-color: var(--hover);
}
.item-text span {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}
.item-text .hover {
  font-weight: 800;
  font-size: 26px;
  position: relative;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 215px;
}
.item-text .hover:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -5px;
  right: -5px;
  background-color: #fbdc4d;
  height: 6px;
  bottom: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.item-text p {
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}
.item-text span {
  font-size: 18px;
  font-weight: 700;
}
.contacts {
  padding-top: 140px;
  padding-bottom: 153px;
  margin: auto;
  background-image: url(../img/fon/line2.png);
  background-size: auto;
  background-position: center;
  background-repeat: repeat-y;
  background-color: #f4f8f9;
}
.title-contacts {
  text-align: center;
  margin-bottom: 54px;
}
.title-contacts span {
  position: relative;
  z-index: 2;
  margin-bottom: 45px;
  cursor: pointer;
}
.title-contacts span:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -5px;
  right: -5px;
  background-color: #fbdc4d;
  height: 12px;
  bottom: 14px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.title-contacts span:hover:after {
  background-color: var(--hover);
}
.contacts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
}
.contacts-content:before {
  content: "";
  z-index: -1;
  width: 460px;
  height: 282px;
  position: absolute;
  top: -1%;
  left: -31%;
  background-image: url(../img/contacts/bg-dots.png);
}
.contacts-descrip {
  margin: 0;
  width: 100%;
  max-width: 500px;
  padding-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: auto;
}
.contacts-descrip_text {
  width: 490px;
  margin-bottom: 41px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
}
.contacts-descrip_item {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.more-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 23px;
}
.more-contacts:last-child {
  margin-bottom: 0;
}
.more-contacts span {
  width: 38%;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 700;
}
.contacts-descrip_item a {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: var(--email);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.contacts-descrip_item a:after {
  position: absolute;
  content: "";
  left: -5px;
  right: -5px;
  bottom: 2px;
  width: 0;
  border-bottom: 2px solid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contacts-descrip_item a:hover:after {
  width: 105%;
  border-color: #039be5;
}
.contacts-descrip_item a:active {
  color: var(--mailactv);
}
.contacts-descrip_item a:active:hover:after {
  border-color: var(--mailactv);
}
.more-contacts p {
  font-size: 20px;
  font-weight: 700;
  color: #96969d;
}
.icons-contacts {
  margin-bottom: 0px;
}
.form-column {
  width: 100%;
}
.contacts-form {
  margin-right: 20px;
  margin-top: 2px;
  padding-top: 54px;
  padding-bottom: 37px;
  padding-left: 59px;
  padding-right: 69px;
  max-width: 515px;
  background-color: #ffffff;
  margin: auto;
  -webkit-box-shadow: 0px 28px 100px 0px #c2dbeb;
          box-shadow: 0px 28px 100px 0px #c2dbeb;
}
.contacts-form_item {
  margin-bottom: 37px;
  position: relative;
}
.contacts-form_item:nth-last-child(2) {
  margin-bottom: 37px;
}
textarea,
input {
  width: 100%;
  display: block;
  padding: 20px 5px 24px;
  border: 0px;
  border-bottom: 2px solid #eaeaea;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}
.form-field {
  position: relative;
}
.form-field:focus {
  border-color: #ea736d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.form-field:active {
  border-color: #ea736d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fake-placeholder {
  font-size: 20px;
  font-weight: 700;
  color: #bcbcbc;
  position: absolute;
  top: 27px;
  left: 5px;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.fake-placeholder.active {
  color: #ed9626;
  font-size: 16px;
  top: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.error {
  color: var(--cardbtnactv);
  font-size: 14px;
  position: relative;
}
.error:after {
  content: "^";
  position: absolute;
  font-family: "fontAwesome";
  font-size: 15px;
  top: -5px;
  left: 0;
}
.button-3 {
  font-size: 20px;
  padding: 14px 71px;
  margin: auto;
  margin: 0;
  padding: 19px 40px;
  background-color: var(--btnbg);
  border-radius: 30px;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.button-3:hover {
  background-color: var(--btnhov);
}
.button-3:active {
  background-color: var(--btnactv);
}
.contact-form__success h2 {
  color: var(--cardbtnactv);
  text-align: center;
}
.footer {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: #333333;
  margin: auto;
  overflow: hidden;
}
.copy {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.2;
}
.text {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #96969d;
  line-height: 1.2;
}
.text a {
  color: #96969d;
  border-bottom: 1px solid #96969d;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.text a:hover,
.text a :active {
  color: #ffffff;
  border-color: #ffffff;
}
/*# sourceMappingURL=main.css.map */