.how-work {
  padding-top: 140px;
  padding-bottom: 140px;
  margin: auto;
  max-width: 1600px;
  background-image: url(../img/fon/bg-how2.png);
  background-size: auto;
  background-position: center;
  background-repeat: repeat-y;
  
}

.howwork-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 1005px;
}

.item-title {
  position: relative;
  z-index: 2;
  margin-bottom: 151px;
  font-size: 64px;
  font-weight: 800;
  text-align: center;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: -5px;
    right: -5px;
    background-color: rgb(251, 220, 77);
    height: 12px;
    bottom: 18px;
    transition: 0.5s;
  }
  &:hover:after {
    background-color: var(--hover);
  }
}

.work-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.work-content_item {
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 530px;
  padding-bottom: 60px;
  transform: translateX(39%);

  &:after {
    content: "";
    position: absolute;
    left: 31px;
    bottom: 0;
    top: 94px;
    width: 4px;
    border-radius: 2px;
    background-color: rgb(225, 238, 244);
  }

  &:last-child:after {
    display: none;
  }

  &:nth-child(odd) {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    transform: translateX(-46%);
  }

  &:first-of-type:before {
    content: "";
    position: absolute;
    left: 477px;
    top: -77px;
    width: 4px;
    height: 57px;
    background-color: rgb(225, 238, 244);
  }

  &:nth-child(odd):after {
    content: "";
    position: absolute;
    left: 477px;
    bottom: 0;
    top: 94px;
    width: 4px;
    border-radius: 2px;
    background-color: rgb(225, 238, 244);
  }
}
.work-item-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 74px;
  border-radius: 28px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
  flex-shrink: 0;
}

.work-item-icon img {
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-text {
  padding-right: 25px;
  padding-left: 25px;
  cursor: pointer;

  &:hover .hover::after {
    background-color: var(--hover);
  }
}

.item-text span {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.item-text .hover {
  font-weight: 800;
  font-size: 26px;
  position: relative;
  z-index: 2;
  transition: 0.5s;
  width: 215px;

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: -5px;
    right: -5px;
    background-color: rgb(251, 220, 77);
    height: 6px;
    bottom: 5px;
    transition: 0.5s;
  }
}

.item-text p {
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}

.item-text span {
  font-size: 18px;
  font-weight: 700;
}
