.portfolio {
  padding-top: 45px;
  padding-bottom: 100px;
  margin: auto;
  background-image: url(../img/fon/bgportf.png);
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  overflow: hidden;
  // Планшет
  @media (min-width: 768px) {
    padding-top: 61px;
    padding-bottom: 75px;
  }

  // Десктоп
  @media (min-width: 1200px) {
    padding-top: 99px;
    padding-bottom: 0;
  }
}

.bottom-line {
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: 0.5s;

  &:after {
    content: "";
    position: absolute;
    bottom: 8px;
    left: -5px;
    right: -5px;
    height: 12px;
    background-color: #fbdc4d;
    z-index: -1;
    transition: 0.5s;
  }
  &:hover:after {
    background-color: var(--hover);
  }

  // Планшет
  @media (min-width: 768px) {
    &:after {
      content: "";
      position: absolute;
      bottom: 12px;
      left: -5px;
      right: -5px;
      height: 12px;
      background-color: #fbdc4d;
      z-index: -1;
      transition: 0.5s;
    }
  }

  // Десктоп
  @media (min-width: 1200px) {
    &:after {
      content: "";
      position: absolute;
      bottom: 15px;
      left: -5px;
      right: -5px;
      height: 12px;
      background-color: #fbdc4d;
      z-index: -1;
      transition: 0.5s;
    }
  }
}

.title-portf {
  margin-bottom: 41px;

  @media (min-width: 576px) {
    margin-left: 125px;
  }

  // Планшет
  @media (min-width: 768px) {
    margin-bottom: 43px;
    margin-left: 0;
  }

  // Десктоп
  @media (min-width: 1200px) {
    margin-bottom: 51px;
  }
}
.portfolio-works {
  display: none;

  // Планшет
  @media (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 45px;
  }

  // Десктоп
  @media (min-width: 1200px) {
    margin-bottom: 46px;
  }
}

.portfolio-block-toggle_item {
  // Планшет
  @media (min-width: 768px) {
    margin-right: 33px;
    font-size: 24px;
    font-weight: 700;
    color: var(--toggl);
    border: none;
    background-color: var(--bgportf);
    cursor: pointer;
    transition: 0.5s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: var(--togglhov);
    }
    &:active {
      color: var(--togglhov);
    }
  }

  // Десктоп
  @media (min-width: 1200px) {
    margin-right: 68px;
    font-size: 28px;
  }
}

.control-active {
  color: #000000;
}
.watch-works {
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: #039be5;
  transition: 0.5s;
  text-decoration: underline;
  &:hover {
    color: var(--cardbtnactv);
    border-color: var(--cardbtnactv);
  }
  @media (min-width: 576px) {
    margin-left: 125px;
  }

  // Десктоп
  @media (min-width: 1200px) {
    display: none;
  }
}
.wrapper-footer-portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-portfolio-content {
  margin-bottom: 20px;
  text-align: center;
  color: #161616;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.34px;
  // Планшет
  @media (min-width: 768px) {
    margin-bottom: 15px;
    font-size: 38px;
    letter-spacing: 0.46px;
  }
  // Десктоп
  @media (min-width: 1200px) {
    margin-bottom: 20px;
    font-size: 42px;
    letter-spacing: 0.5px;
  }
}

.footer-portfolio-content_desc p {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #161616;
  letter-spacing: 0.43px;
  // Планшет
  @media (min-width: 768px) {
    font-size: 30px;
    letter-spacing: 0.36px;
  }
  // Десктоп
  @media (min-width: 1200px) {
    font-size: 36px;
    letter-spacing: 0.43px;
  }
}

.footer-portfolio-content_desc a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: var(--email);
  width: fit-content;
  cursor: pointer;
  &::after{
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--mailhov);
    content: "";
    transition: 0.5s;
  }
  &:hover::after,:focus::after{
      width: 100%;
  
}
}
.footer-main-img {
  margin: 0 auto 0;
  max-width: 1600px;
  z-index: -1;

  // Планшет
  @media (min-width: 768px) {
    margin: -120px auto 0;
  }

  // Десктоп
  @media (min-width: 1200px) {
    margin: -77px auto 0;
  }
}
.header-menu--portfolio {
  background-color: transparent;
}
